[submodule "backend"]
	path = backend
	url = https://github.com/dzachdeveloper/ai-sdlc-day1-workshop.git
	branch = backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/dzachdeveloper/ai-sdlc-day1-workshop.git
	branch = frontend
[submodule "cli"]
	path = cli
	url = https://github.com/dzachdeveloper/ai-sdlc-day1-workshop.git
	branch = cli
